<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu > li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
    .secondary {
        margin-left: -30px;
    }

    .secondary li {
        border-bottom: solid 1px lightgrey;
    }

    .secondary li:last-child {
        border-bottom: none
    }
</style>
<ul id="menu">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/members">Voting Members</a></li>
    <li><a href="{{ site.baseurl }}/Objectives">Objectives</a></li>
    <li><a href="{{ site.baseurl }}/working-groups">Working groups</a></li>
    <li><a href="{{ site.baseurl }}/news">News</a></li>
    <li><a href="{{ site.baseurl }}/links">Links</a></li>
    <li><a href="{{ site.baseurl }}/charts">Charts</a></li>
    <li>
        <a href="{{ site.baseurl }}/definitions">Definitions</a>
        <ul class="secondary">
            <li><a href="{{ site.baseurl }}/definitions/docs-further-info">Docs & Further Info</a></li>
            <li><a href="{{ site.baseurl }}/definitions/history-chronostratigraphy">History of the stratigraphical nomenclature of the glacial period</a></li>
            <li><a href="{{ site.baseurl }}/definitions/history-climatostratigraphy">History of the Climatostratigraphy of the ice ages</a></li>
        </ul>    
    </li>
    <li><a href="{{ site.baseurl }}/gssp-ceremonies">GSSP ceremonies</a></li>
    <li><a href="{{ site.baseurl }}/stratigraphic-guide">Stratigraphic guide</a></li>
    <li><a href="{{ site.baseurl }}/major-divisions">Major divisions</a></li>
    <li><a href="{{ site.baseurl }}/regional-divisions">Regional divisions</a></li>
    <li>
        <a href="{{ site.baseurl }}/working-groups">Working Groups</a>
        <ul class="secondary">
            <li><a href="{{ site.baseurl }}/working-groups/holocene-series">Pleistocene – Holocene boundary working group</a></li>
            <li><a href="{{ site.baseurl }}/working-groups/middle-late-pleistocene-boundary">Middle / Late Pleistocene boundary working group</a></li>
            <li><a href="{{ site.baseurl }}/working-groups/early-middle-pleistocene-boundary">Early / Middle Pleistocene boundary working group</a></li>
            <li><a href="{{ site.baseurl }}/working-groups/anthropocene">Anthropocene working group</a></li>
        </ul>      
    </li>
</ul>
