<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu > li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
    .secondary {
        margin-left: -30px;
    }

    .secondary li {
        border-bottom: solid 1px lightgrey;
    }

    .secondary li:last-child {
        border-bottom: none
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/meetings">Meetings</a></li>
    <li><a href="/charts">Charts</a></li>
    <li>
        <a href="/definitions">Definitions</a>
        <ul class="secondary">
            <li><a href="/definitions/docs-further-info">Docs & Further Info</a></li>
            <li><a href="/definitions/history-chronostratigraphy">History of the stratigraphical nomenclature of the glacial period</a></li>
            <li><a href="/definitions/history-climatostratigraphy">History of the Climatostratigraphy of the ice ages</a></li>
        </ul>    
    </li>
    <li><a href="/gssp-ceremonies">GSSP ceremonies</a></li>
    <li><a href="/stratigraphic-guide">Stratigraphic guide</a></li>
    <li><a href="/major-divisions">Major divisions</a></li>
    <li><a href="/regional-divisions">Regional divisions</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/working-groups">Working Groups</a></li>
</ul>

    
    
    
    
    
    
    
    
    
    
    
    

